* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.todolist-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 600px;
}

h1 {
  margin-top: 40px;
  font-size: 3rem;
}

button {
  font-weight: bold;
  border-radius: 4px;
  color: white;
  font-size: 1.3rem;
  transition: background-color 0.4s ease;
}

.add-task-container {
  margin-top: 40px;
}

.taskInput {
  padding: 8px;
  border-radius: 4px;
  font-size: 1.3rem;
}

.to-do-list {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.to-do-list-item {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  background-color: hsl(0, 0%, 85%);
  border-radius: 4px;
}

.text {
  flex: 1;
  font-weight: bold;
  font-size: 1.3rem;
}

.add-btn {
  padding: 8px 12px;
  margin-left: 10px;
  background-color: hsl(120, 47%, 54%);
}

.add-btn:hover {
  background-color: hsl(120, 47%, 44%);
}

.remove-btn {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: hsl(10, 90%, 50%);
}

.remove-btn:hover {
  background-color: hsl(10, 90%, 40%);
}

.move-btn {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: hsl(210, 100%, 56%);
}

.move-btn:hover {
  background-color: hsl(210, 100%, 46%);
}
